
@{
    ViewBag.Message = "Welcome To Maersk Line";
}
<div class="jumbotron";style="text-align:center">
    <h1> @ViewBag.Message</h1>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller.</p>
</div>

<div style="width:1000px; margin:0 auto;text-align:center">
    <img alt="MaerskLine" src="@Url.Content("http://maritime-connector.com/company_images/1843/maersk-20120810090448_big.jpg")">

</div>

<p>

</p>

<p>Maersk Line is the global container division and the largest operating unit of the A.P. Moller – Maersk Group, a Danish business conglomerate. It is the world's largest container shipping company having customers through 374 offices in 116 countries. It employs approximately 7,000 sea farers and approximately 25,000 land-based people. Maersk Line operates over 600 vessels and has a capacity of 2.6 million TEU. The company was founded in 1928.
        </p>
