@{
    ViewBag.Title = "Main Menu";
}
<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">Maersk Line is the global container division and the largest operating unit of the A.P. Moller.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Booking</h2>
        <p>
            To register a new booking to handle import, export and transshipment processing to gate operations.
        </p>
        <p><a class="btn btn-default"href="~/Bookings/Index">New Booking &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Container</h2>
        <p>To register a new containers to handle import, export and transshipment processing to gate operations.</p>
        <p><a class="btn btn-default" href="~/Containers/Index">New Container  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ships</h2>
        <p>To register a new ships to handle import, export and transshipment processing to gate operations.</p>
        <p><a class="btn btn-default" href="~/Ships/Index">New Ships &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Warehouse</h2>
        <p>To register a new Warehouse ID to handle import, export and transshipment processing to gate operations.</p>
        <p><a class="btn btn-default" href="~/Warehouses/Index">New Warehouse &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Ship Yards</h2>
        <p>To register a new Ship Yards ID to handle import, export and transshipment processing to gate operations.</p>
        <p><a class="btn btn-default" href="~/ShipYards/Index">New Ship Yards &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees</h2>
        <p>To register a new Employee to handle import, export and transshipment processing to gate operations.</p>
        <p><a class="btn btn-default" href="~/Employees/Index" > New Employee &raquo;</a></p>
    </div>
    </div>


<!--href="https://go.microsoft.com/fwlink/?LinkId=301866"-->